{% load static from staticfiles %}
<!DOCTYPE html>
<HTml>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
        <body>
            <div id="rigester">
                <h1>Register</h1>
                <form action="">
                    <div>
                        <label for="email">E-mail: </label>
                        <input type="email" name="email" id="email" placeholder="email" required>    
                    </div>
                    <div>
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div>
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div>
                        <button id="submit" type="submit">Submit</button>
                    </div> 
                    <div>
                        <button id="login_button" type="button">Login</button>
                    </div> 
                </form>
            </div>  
        </body>

</HTml>